.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        span.ion-earth
        | Traverse City Parcel Explorer
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
          li
            a.residential(href='/login')
              span.ion-record.residential
              | Residential
          li
            a(href='#')
              span.ion-record.commercial
              | Commercial
          li
            a(href='#')
              span.ion-record.city
              | City Owned
          li
            a(href='#')
              span.ion-record.god
              | Churches
          li
            a(href='#')
              span.ion-record.vacant
              | Vacant Lot
