@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/ionicons/ionicons";
@import "lib/bootstrap-social";
@import "themes/modern";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


#map {
  width: 100%;
  display: block;
  height: 600px;
  margin: 0 auto;
  border: 2px solid #777;
  position: relative;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  left:0;
}

.sphere {
  fill: #fff;
}

.overlay {
  fill: none;
  pointer-events: none;
}

path {
 fill: none;
}

.RESIDENTIAL {
  fill: blue;
}

.COMMERCIAL {
  fill: orange;
}

.RELIGIOUS {
  fill: yellow;
}

.CITY {
  fill: green;
}

.VACANT {
  fill: red;
}

div.tooltip {
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 5%;
}
