@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";
@import "lib/ionicons/ionicons";
@import "lib/bootstrap-social";
@import "themes/modern";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


#map {
  width: 960px;
  height: 500px;
}

svg {
  position: relative;
}

path {
  fill: rgba(0,0,0,0.3);
  stroke: rgba(0,0,0,0.8);
  stroke-width: 0px;
}

path:hover {
  fill: red;
  fill-opacity: .7;
}

.platdata {
  color: red;
}

.RESIDENTIAL {
  fill: blue;
  fill-opacity: 0.6;
}

.COMMERCIAL {
  fill: orange;
  fill-opacity: 0.6;
}

.RELIGIOUS {
  fill: yellow;
  fill-opacity: 0.6;
}

.CITY {
  fill: green;
  fill-opacity: 0.6;
}

.VACANT {
  fill: red;
  fill-opacity: 0.6;
}

