footer
  .container.text-center
    p.pull-left
      a(href='https://twitter.com/michaelcolenso') @michaelcolenso
      |  made this for you.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/michaelcolenso/tcplatmap')
          span.ion-fork-repo
          | Repo
      li
        a(href='https://github.com/michaelcolenso/')
          span.ion-social-github
          | Github
